@import 'complementos/variaveis';
@import 'complementos/containerCards';

@import 'complementos/animation_xbox';
@import 'complementos/animation_spotify';



.container-geral {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: clamp(1.5rem, 1.1667rem + 1.4815vw, 2.5rem);
    text-align: center;
  }

}

.container-home {
  .content-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 48px auto;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .card-1 {
    .img {
      width: 150px;
      height: 150px;
      filter: drop-shadow(0px 0px 10px rgb(247, 247, 247, 0.3)) drop-shadow(0px 4px 3px rgb(166, 220, 237, 0.5)) drop-shadow(0px 0px 1px rgb(184, 233, 148, 0.7));
    }
  }

  .card-2 {
    .img {
      width: 150px;
      height: 150px;
      filter: drop-shadow(0px 0px 5px rgb(184, 233, 148, 0.5));
    }
  }
}


.container-xbox {
  .content-xbox {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 70vh;

    a {
      svg {
        width: 300px;
        height: auto;
        filter: drop-shadow(0px 0px 0px rgba(184, 233, 148, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));

        animation: xbox-shadow 7s ease 0s forwards;


        #xbox-x1 {
          animation: stroke-dash 5s ease 0s forwards;
        }

        #xbox-x2 {
          animation: stroke-dash 5s ease 0s forwards;

        }

        #xbox-b {
          animation: stroke-dash 5s ease 0s forwards;

        }

        #xbox-o {
          animation: stroke-dash 5s ease 0s forwards;

        }

        #xbox-logo {
          animation: stroke-dash-logo 4s ease 5s forwards;
          opacity: 0;
        }
      }

      &:hover {
        cursor: pointer;

        svg {
          scale: 0.95;
        }
      }
    }
  }
}

.container-spotify {
  .content-spotify {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 70vh;

    a {


      svg {
        width: 300px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        #bg {
          opacity: 0;
          animation: transform-bg2 15s ease 0s forwards;
        }

        #music1 {
          transform-origin: center center;
          transform-box: fill-box;
          animation: music1-animation 16s ease-in-out forwards;
        }

        #music2 {
          transform-origin: center center;
          transform-box: fill-box;
          animation: music2-animation 16s ease-in-out forwards;
        }

        #music3 {
          transform-origin: center center;
          transform-box: fill-box;
          animation: music3-animation 16s ease-in-out forwards;
        }

        #text-spotify {
          transform-origin: 50% 50%;
          transform-box: fill-box;
          opacity: 0;
          animation: text-spotify-animation 2s ease-in-out 11s forwards;
        }
      }
    }

    .bg-suporte {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%);
      background-color: #00D95A;
      border-radius: 0%;
      box-shadow: 0px 7px 7px rgba(18, 18, 18, 0.8);
      z-index: -1;
      animation: transform-bg 15s ease 0s forwards;

    }
  }

}

