@keyframes blink {

  0%,
  3% {
    transform: translate3d(0, 0, 0) scaleY(0);
  }

  7% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  25% {
    transform: translate3d(0, 10px, 0) scaleY(1);
  }

  30% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  35% {
    transform: translate3d(0, 0, 0) scaleY(0);
  }


  40% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  50% {
    transform: translate3d(-10px, -10px, 0) scaleY(1);
  }

  60% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  65% {
    transform: translate3d(0, 0, 0) scaleY(0);
  }


  70% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  80% {
    transform: translate3d(10px, -10px, 0) scaleY(1);
  }

  90% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  98%,
  100% {
    transform: translate3d(0, 0, 0) scaleY(0);
  }
}

@keyframes iris {

  0%,
  2% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scaleY(0);
  }

  7% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  25% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scaleY(1);
  }

  30% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  35% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scaleY(0);
  }


  40% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  50% {
    opacity: 1;
    transform: translate3d(-20px, -20px, 0) scaleY(1);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  65% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scaleY(0);
  }


  70% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  80% {
    opacity: 1;
    transform: translate3d(20px, -20px, 0) scaleY(1);
  }

  90% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  98%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scaleY(0);
  }
}

@keyframes chameleon {
  0%, 30% {
    transform: rotate(0deg) skew(0deg, 0deg);
  }

  41% {
    transform: rotateX(15deg) skew(10deg, -3deg);
  }

  52% {
    transform: rotateX(-15deg) skew(-10deg, 3deg);
  }

  53%, 80% {
    transform: rotate(0deg) skew(0deg, 0deg);
  }

  81% {
    transform: rotateZ(10deg) skew(-5deg, 0deg);
  }

  82% {
    transform: rotateZ(-10deg) skew(5deg, 0deg);
  }

  83%, 100% {
    transform: rotate(0deg) skew(0deg, 0deg);
  }
}


// Poket =======================

$bg-black: #1a1a1a;
$bg-red: #E14444;
$bg-orange: #EEA662;
$bg-cian: #67FFD1;
$bg-green: #B8E951;
$bg-blue: #51B2E9;
$bg-purple: #8944E1;
$bg-pink: #DD51E9;

$body-black: #353636;
$body-red: #BD4040;
$body-orange: #E19044;
$body-cian: #48E7B7;
$body-green: #98D21D;
$body-blue: #3296CF;
$body-purple: #6D2DBE;
$body-pink: #C82FD6;

$mouth-black: #3F3F3F;
$mouth-red: #B22E2E;
$mouth-orange: #CD6B11;
$mouth-cian: #3FDEB6;
$mouth-green: #85BB12;
$mouth-blue: #228AC5;
$mouth-purple: #7C39D1;
$mouth-pink: #B426C0;

$stripe-black: #242424;
$stripe-red: #A82222;
$stripe-orange: #BD6009;
$stripe-cian: #2AC9B7;
$stripe-green: #6C9E00;
$stripe-blue: #08699F;
$stripe-purple: #5F1EB2;
$stripe-pink: #A212AE;


@keyframes eyePoket{
  0%,3%{
      transform: translate3d(0,0,0) scaleY(0);
  }
  7%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  25%{
      transform: translate3d(0,10px,0) scaleY(1);
  }
  30%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  35%{
      transform: translate3d(0,0,0) scaleY(0);
  }


  40%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  50%{
      transform: translate3d(-10px,-10px,0) scaleY(1);
  }
  60%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  65%{
      transform: translate3d(0,0,0) scaleY(0);
  }


  70%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  80%{
      transform: translate3d(10px,-10px,0) scaleY(1);
  }
  90%{
      transform: translate3d(0,0,0) scaleY(1);
  }
  98%,100%{
      transform: translate3d(0,0,0) scaleY(0);
  }

  
}

@keyframes irisPoket{
  0%,2%{
      opacity: 0;
      transform: translate3d(0,0,0) scaleY(0);
  }
  7%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  25%{
      opacity: 1;
      transform: translate3d(0,30px,0) scaleY(1);
  }
  30%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  35%{
      opacity: 0;
      transform: translate3d(0,0,0) scaleY(0);
  }


  40%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  50%{
      opacity: 1;
      transform: translate3d(-30px,-30px,0) scaleY(1);
  }
  60%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  65%{
      opacity: 0;
      transform: translate3d(0,0,0) scaleY(0);
  }


  70%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  80%{
      opacity: 1;
      transform: translate3d(30px,-30px,0) scaleY(1);
  }
  90%{
      opacity: 1;
      transform: translate3d(0,0,0) scaleY(1);
  }
  98%,100%{
      opacity: 0;
      transform: translate3d(0,0,0) scaleY(0);
  }
}

@keyframes bgPoket{
  0%,10%{
      background-color: $bg-black;
  }
  15%,25%{
      background-color: $bg-red;
  }
  30%,40%{
      background-color: $bg-orange;
  }
  45%,55%{
      background-color: $bg-cian;
  }
  60%,70%{
      background-color: $bg-green;
  }
  75%,85%{
      background-color: $bg-blue;
  }
  90%,100%{
      background-color: $bg-purple;
  }
}

@keyframes bodyPoket{
  0%,10%{
      fill: $body-black;
  }
  15%,25%{
      fill: $body-red;
  }
  30%,40%{
      fill: $body-orange;
  }
  45%,55%{
      fill: $body-cian;
  }
  60%,70%{
      fill: $body-green;
  }
  75%,85%{
      fill: $body-blue;
  }
  90%,100%{
      fill: $body-purple;
  }
}

@keyframes chameleonPoket{

  0%,10%{
      transform: rotate(0deg);
  }
  11%{
      transform: rotateX(30deg) skewX(-3deg) scaleY(0.95);
  }
  12%{
      transform: rotateX(-30deg) skewX(3deg) scaleY(1.05);
  }
  13%,26%{
      transform: rotate(0deg);
  }



  27%{
      transform: rotate(0deg);
  }
  28%{
      transform: rotateZ(5deg) skewX(-3deg) scaleX(0.95);
  }
  29%{
      transform: rotateZ(-5deg) skewX(3deg) scaleX(1.05);
  }
  30%,40%{
      transform: rotate(0deg);
  }




  41%{
      transform: rotate(0deg);
  }
  42%{
      transform: rotateX(-30deg) skewX(5deg) scaleY(0.90);
  }
  43%{
      transform: rotateX(30deg) skewX(-5deg) scaleY(1.10);
  }
  44%,55%{
      transform: rotate(0deg);
  }




  56%{
      transform: rotate(0deg);
  }
  57%{
      transform: rotate(5deg) skewY(3deg) scaleY(0.95) scaleX(0.85);
  }
  58%{
      transform: rotate(-5deg) skewY(-3deg) scaleY(1.05) scaleX(1.15);
  }
  59%,70%{
      transform: rotate(0deg);
  }



  71%{
      transform: rotate(0deg);
  }
  72%{
      transform: rotateZ(5deg) skewX(-3deg) scaleX(0.95);
  }
  73%{
      transform: rotateZ(-5deg) skewX(3deg) scaleX(1.05);
  }
  74%,85%{
      transform: rotate(0deg);
  }



  86%{
      transform: rotate(0deg);
  }
  87%{
      transform: rotate(3deg) skewX(-10deg);
  }
  88%{
      transform: rotate(-3deg) skewX(10deg);
  }
  89%,100%{
      transform: rotate(0deg);
  }

}

@keyframes mouthPoket{
  0%,10%{
      fill: $mouth-black;
  }
  15%,25%{
      fill: $mouth-red;
  }
  30%,40%{
      fill: $mouth-orange;
  }
  45%,55%{
      fill: $mouth-cian;
  }
  60%,70%{
      fill: $mouth-green;
  }
  75%,85%{
      fill: $mouth-blue;
  }
  90%,100%{
      fill: $mouth-purple;
  }
}

@keyframes stripePoket{
  0%,10%{
      fill: $stripe-black;
  }
  15%,25%{
      fill: $stripe-red;
  }
  30%,40%{
      fill: $stripe-orange;
  }
  45%,55%{
      fill: $stripe-cian;
  }
  60%,70%{
      fill: $stripe-green;
  }
  75%,85%{
      fill: $stripe-blue;
  }
  90%,100%{
      fill: $stripe-purple;
  }
}